body{
	padding:0;
	margin:0;
	background:url('bgimg.jpg') fixed no-repeat;
	background-size:cover;
	}

.toparea{
	background:#B95752;
	text-align:center;
	color:white;
	padding:10px;
}
    .toparea a:link, .toparea a:visited{
    	text-decoration:none;
         color:white;
    }

.titlearea{
	background:#F2C38B;
	text-align:center;
}
.titledata{
	padding: 40px 0px;
	}

.titlearea h1{
	 font-size:35px;
	margin:0;
     color:#73353E;
     text-shadow:5px 5px 5px rgba(0,0,0,0.2);
}
 .titlearea h3{
 	 font-size:25px;
 }
.titlearea img{
	width:120px;
	height:120px;
}
.navarea{
	 background:#FCFCFC;
	}
	
.aboutarea{
	background:#FCFCFC;
	padding:50px 10px;
	}
.aboutarea img{
	margin:10px;
	}
	
.arrow-box{
		 text-align: center;`
		}
		
.principal-msg p{
 text-align:justify;
}

.principal-msg img{
	float:left;
}

.sign{
	float:right;
  }


.coursearea{
	padding:50px 0;
	background:rgba(255,255,255,0.6) ;
	}
	
.box{
	height: 300px;
	background:white;
	padding:20px;
	margin:10px 0;
	text-align:center;
	border-radius: 20px;
	transition: all 2s;
}
.box:hover{
	transform:translateX(-200px);
}


.coursedata{
	display:none;
	height: 300px;
	background-color: white;
	text-align: center;
	padding:40px;
	margin:10px 0px;
}

.coursedata p{
	text-align: justify;
	font-size: larger;

}

.coursedata a{
	text-decoration: none;
	color:#202702;
}

.box img{
	width:120px;
	height:120px;
	margin:20px;
	border-radius:50%;
	transition:all 4s;
	}
	
.box img:hover{
	transform:rotate(360deg);
	}
	
.footerarea{
	background:#1B1B1B;
	padding:50px 0;
	}
.footerbox{
	border-right: solid  1px rgba(245, 245, 245, 0.781);
	padding: 0px 50px;
}

.lastfooterbox{
	border-right: 0;
}
.footerarea h6{
	color:white;
	padding:0 0 10px 0;
	text-align:left;
	}

.menufooter h6{
	padding: 0 0 0 20px;
}
.footerarea p{
	 color:#F2C38B;
	}
.footer-up a:link, .footer-up a:visited{
	 text-decoration:none;
	 color: #D37F58;
	display: block;
	}
	
.footer-up{
	border-bottom:solid white 1px;
	padding: 50px 0;
}
.footer-down{
	 text-align:center;
	 color:white;
	 padding:10px 0;
}
.footer-down a:link,.footer-down a:visited{
	 text-decoration:none;
	 color: #D37F58;
	}

.slidearea{
	background-color:#FCFCFC ;
	
}


	
@media screen and (max-width:800px){
	.footerbox{
		  padding:10px 20x;
		}
	.footerarea h6{
		  text-align:center;
		  border-left: 0px;
		}
	.footerarea p{
		 text-align:center;
		}
	.footerarea a:link,.footerarea a:visited{
		  text-align:center;
		}
	.coursedata{
		height: inherit;
	}
	}

	